{% extends 'django_classified/_base.html' %}

{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock title %}

{% block body %}

  <div class="row">
    <div class="col-lg-12">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Email Login Form</h4>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url "social:complete" "email" %}">
              {% csrf_token %}
              <input name="email" type="email" required value="sample@example.com">
              <input name="password" type="password" required value="123">
              <button type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}