{% extends "_base.html" %}

{% block title %}{{settings.SITE_NAME}}{% endblock title %}

{% block body %}

        {% for section in sections %}
            {% if forloop.first %}<div class="row marketing">{% endif %}

        <div class="col-lg-4">
            <h4>{{ section }}</h4>

            {% for group in section.group_set.all %}
                {% if group.count > 0 %}
                    <a href='{{ group.get_absolute_url }}' title="{{ group.get_title }}">{{group.title}} [{{group.count}}]</a><br/>
                {% endif %}
            {% endfor %}
        </div>

        {% if forloop.counter|divisibleby:3 %}</div><div class="row marketing">{% endif %}
        {% if forloop.last %}</div>{% endif %}
        {% endfor %}

{% endblock %}