{% extends "_base.html" %}

{% load staticfiles %}
{% load humanize thumbnail i18n %}

{% block title %}{{ object.get_title }}{% endblock title %}
{% block meta_description %}{{ object.get_description }}{% endblock meta_description %}
{% block meta_keywords %}{{ object.get_keywords }}{% endblock meta_keywords %}

{% block meta_og %}
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ object.get_absolute_url }}" />
    <meta property="og:title" content="{{object.get_title}}" />
    <meta property="og:description" content="{{ object.get_description }}" />
    {% for img in object.image_set.all %}
        {% thumbnail img.file "640x480" padding=True as im %}
            <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ im.url }}" />
        {% endthumbnail %}
    {% endfor %}
{% endblock %}

{% block body %}
    {% include "dcf/admin_toolbar.inc.html" %}

    <div class="row">
        <div class="col-lg-12">
            <a href='{{ object.group.get_absolute_url }}'>{{ object.group }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <h1>
            {% if user.is_authenticated and object.user != user %}
                {% if like == 'mark' %}
                    <span id="{{ like }}" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                {% else %}
                    <span id="{{ like }}" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                {% endif %}
            {% endif %}
                {{ object.title }}
            </h1>
                <input type="hidden" id="for_mark" value="{{ object.id}}" />
        </div>
        <div class="col-lg-3">
            <h2>{{ object.price|default:"" }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {{ object.description|linebreaksbr }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            {% for img in object.image_set.all %}

                {% thumbnail img.file "150x150" crop="center" as im %}
                    <a href='{{img.file.url}}' data-lightbox="lightbox[{{object.id}}]" title="{{object.title}}">
                        <img src='{{ im.url}}' alt='{{object.title}}' title='{{object.title}}' width="{{ im.width }}" height="{{ im.height }}" class="img-rounded" />
                    </a>
                {% endthumbnail %}

            {% endfor %}

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
            {% if DCF_LOGIN_TO_CONTACT and not user.is_authenticated %}
                {% trans "Please" %} <a href='{% url 'login' %}'>{% trans "login" %}</a> {%  trans "to see contact information." %}
            {% else %}
                {% trans "Phone" %}: {{ object.phone }}
            {% endif %}
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <hr />
        </div>

        {% for item in object.get_related %}
            <div class="col-md-2">
                {% if item.image_set.all %}
                    {% with item.image_set.all.0 as img %}

                        {% thumbnail img.file "70x70" crop="center" as im %}
                            <a href='{{item.get_absolute_url}}' title="{{item.get_title}}">
                                <img src='{{im.url}}' alt='{{item.title}}' title='{{item.title}}' width="{{ im.width }}" height="{{ im.height }}" class="img-rounded" />
                            </a>
                        {% endthumbnail %}

                    {% endwith %}
                {% endif %}
                <br/>
                <a href='{{item.get_absolute_url}}' title="{{item.get_title}}">{{item.title|truncatewords:3}}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}