{% extends "_base.html" %}

{% load humanize %}
{% load thumbnail %}

{% block title %}{{ object.get_title }}{% endblock title %}
{% block meta_description %}{{ object.get_description }}{% endblock meta_description %}
{% block meta_keywords %}{{ object.get_keywords }}{% endblock meta_keywords %}

{% block body %}

    {% include "dcf/admin_toolbar.html" %}

    <div class="row">
        <div class="col-lg-12">
            <a href='{{ object.group.get_absolute_url }}'>{{ object.group }}</a>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-9">
            <h1>{{ object.title }}</h1>
        </div>
        <div class="col-lg-3">
            <h2>$ {{ object.price }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {{ object.description|linebreaksbr }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            {% for img in object.image_set.all %}

                {% thumbnail img.file "150x150" crop="center" as im %}
                    <a href='{{img.file.url}}' data-lightbox="lightbox[{{object.id}}]" title="{{object.title}}">
                        <img src='{{ im.url}}' alt='{{object.title}}' title='{{object.title}}' width="{{ im.width }}" height="{{ im.height }}" class="img-rounded" />
                    </a>
                {% endthumbnail %}

            {% endfor %}

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <hr />
            {% if settings.LOGIN_TO_CONTACT and not user.is_authenticated %}
                Please <a href='{% url 'login' %}'>login</a>, to see contact information.
            {% else %}
                Phone: {{ object.phone }}
            {% endif %}
        </div>
    </div>


    <!-- related objects -->

    <div class="row">

        <div class="col-lg-12">
            <hr />
        </div>

        {% for item in object.get_related %}
            <div class="col-md-2">
                {% if item.image_set.all %}
                    {% with item.image_set.all.0 as img %}

                        {% thumbnail img.file "70x70" crop="center" as im %}
                            <a href='{{item.get_absolute_url}}' title="{{item.get_title}}">
                                <img src='{{im.url}}' alt='{{item.title}}' title='{{item.title}}' width="{{ im.width }}" height="{{ im.height }}" class="img-rounded" />
                            </a>
                        {% endthumbnail %}

                    {% endwith %}
                {% endif %}
                <br/>
                <a href='{{item.get_absolute_url}}' title="{{item.get_title}}">{{item.title}}</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}